/*
 * This file has been created by the Vaadin Theme Editor. Please note that
 * manual changes to individual CSS properties may be overwritten by the theme editor.
 */
vaadin-login-overlay-wrapper.core-realm-view-login-overlay-1 vaadin-login-form vaadin-button[theme~="submit"] { --lumo-button-size:var(--lumo-size-l); }

vaadin-login-overlay-wrapper.core-realm-view-login-overlay-1 vaadin-login-form vaadin-login-form-wrapper [required]::part(input-field) { height:var(--lumo-size-m); }

vaadin-login-overlay-wrapper.core-realm-view-login-overlay-1::part(backdrop) { background-color:rgba(95,95,95,1); }

vaadin-login-overlay-wrapper.core-realm-view-login-overlay-1::part(brand) { background-color:rgba(242,236,236,0); }

vaadin-login-overlay-wrapper.core-realm-view-login-overlay-1::part(description) { color:rgba(23,3,3,1); }

vaadin-radio-group.geospatial-region-detail-ui-radio-group-1 vaadin-radio-button label { font-size:var(--lumo-font-size-xxs); }

vaadin-radio-group.geospatial-region-detail-ui-radio-group-1::part(error-message) { font-size:var(--lumo-font-size-xxs); }

vaadin-radio-group.geospatial-region-detail-ui-radio-group-1::part(helper-text) { font-size:var(--lumo-font-size-xxs); }

vaadin-radio-group.geospatial-region-detail-ui-radio-group-1::part(label) { font-size:var(--lumo-font-size-s); }

vaadin-vertical-layout.geospatial-region-correlation-explore-view-vertical-layout-1 { position:fixed; }
